$font-stack:    Helvetica, sans-serif
$primary-color: rgba(121,9,9,1) 35%

body
  font: 100% $font-stack
  color: $primary-color

.cool
  background: linear-gradient(90deg, rgba(134,0,0,1) 0%, rgba(121,9,9,1) 35%, rgba(255,0,0,1) 100%)
